<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="de.tursics.xmasmarkets"
        version="16.11.1"
        versionCode="13">

	<name>Weihnachtsmärkte in Berlin</name>
	<description>Finde alle Weihnachtsmärkte in Berlin: die großen, die kleinen, die bunten, die lebhaften, die besinnlichen und die Geheimtipps. Alle in einer App.</description>
	<author href="http://www.tursics.de" email="thomas@tursics.de">Thomas Tursics</author>
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

	<!-- iOS settings -->
	<gap:platform name="ios" />
	<preference name="target-device" value="universal" />
	<preference name="prerendered-icon" value="true" />
	<icon src="art/icon-small.png"    platform="ios" width="29"  height="29"  /> <!-- iOS 7.0 -->
	<icon src="art/icon-small@2x.png" platform="ios" width="58"  height="58"  /> <!-- iOS 7.0 -->
	<icon src="art/icon-40.png"       platform="ios" width="40"  height="40"  /> <!-- iOS 7.0 -->
	<icon src="art/icon-40@2x.png"    platform="ios" width="80"  height="80"  /> <!-- iOS 7.0 -->
	<icon src="art/icon-60.png"       platform="ios" width="60"  height="60"  /> <!-- iOS 7.0 -->
	<icon src="art/icon-60@2x.png"    platform="ios" width="120" height="120" /> <!-- iOS 7.0 -->
	<icon src="art/icon-60@3x.png"    platform="ios" width="180" height="180" /> <!-- iOS 7.0 -->
	<icon src="art/icon-76.png"       platform="ios" width="76"  height="76"  /> <!-- iOS 7.0 -->
	<icon src="art/icon-76@2x.png"    platform="ios" width="152" height="152" /> <!-- iOS 7.0 -->
	<icon src="art/icon-50.png"       platform="ios" width="50"  height="50"  /> <!-- iOS 6.1 -->
	<icon src="art/icon-50@2x.png"    platform="ios" width="100" height="100" /> <!-- iOS 6.1 -->
	<icon src="art/icon.png"          platform="ios" width="57"  height="57"  /> <!-- iOS 6.1 -->
	<icon src="art/icon@2x.png"       platform="ios" width="114" height="114" /> <!-- iOS 6.1 -->
	<icon src="art/icon-72.png"       platform="ios" width="72"  height="72"  /> <!-- iOS 6.1 -->
	<icon src="art/icon-72@2x.png"    platform="ios" width="144" height="144" /> <!-- iOS 6.1 -->

	<splash src="art/splash.png"                   platform="ios" width="320"  height="480"  /> <!-- iPhone and iPod touch -->
	<splash src="art/splash@2x.png"                platform="ios" width="640"  height="960"  /> <!-- iPhone and iPod touch -->
	<splash src="art/splash-568h@2x.png"           platform="ios" width="640"  height="1136" /> <!-- iPhone 5 / iPod Touch (5th Generation) -->
	<splash src="art/splash-667h@2x.png"           platform="ios" width="750"  height="1334" /> <!-- iPhone 6 -->
	<splash src="art/splash-Portrait-736h@3x.png"  platform="ios" width="1242" height="2208" /> <!-- iPhone 6 -->
	<splash src="art/splash-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" /> <!-- iPhone 6 -->
	<splash src="art/splash-Portrait.png"          platform="ios" width="768"  height="1024" /> <!-- iPad -->
	<splash src="art/splash-Landscape.png"         platform="ios" width="1024" height="768"  /> <!-- iPad -->
	<splash src="art/splash-Portrait@2x.png"       platform="ios" width="1536" height="2048" /> <!-- Retina iPad -->
	<splash src="art/splash-Landscape@2x.png"      platform="ios" width="2048" height="1536" /> <!-- Retina iPad -->

	<!-- Android settings -->
	<gap:platform name="android" />
	<preference name="android-minSdkVersion" value="15" />
	<preference name="splash-screen-duration" value="200"/>
	<icon src="art/icon-36.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="art/icon-48.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="art/icon-72.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="art/icon-96.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="art/icon-72@2x.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<!-- icon src="art/icon-192.png" gap:platform="android" gap:qualifier="xxxhdpi" / -->
	<gap:splash src="art/splash.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="art/splash.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="art/splash.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="art/splash.png" gap:platform="android" gap:qualifier="xhdpi" />
	<!-- gap:splash src="splash.png" gap:platform="android" gap:qualifier="fr-xhdpi" / -->
	<!-- gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-xxhdpi" / -->
	<!-- gap:splash src="splash.png" gap:platform="android" gap:qualifier="land-xxhdpi" / -->

	<!-- Windows Phone settings -->
	<gap:platform name="winphone" />
	<gap:config-file platform="winphone" parent="/Deployment" mode="replace">
		<Languages xmlns="">
			<Language code="de-DE" />
		</Languages>
		<DefaultLanguage xmlns="" code="de-DE" />
	</gap:config-file>
	<icon src="art/icon-wp.png" gap:platform="winphone" />
	<icon src="art/icon-wp-bg.png" gap:platform="winphone" gap:role="background" />
	<gap:splash src="splash-wp.jpg" gap:platform="winphone" />

	<!-- Useful property -->
	<!-- <preference name="phonegap-version" value="cli-6.0.0" /> -->
	<preference name="orientation" value="default" />
	<preference name="webviewbounce" value="false" />
	<preference name="permissions" value="none" />
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<access origin="*" />
</widget>
