    #index {
      height: 100%;
    }
    [data-position="right"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      z-index: 15;
      z-index: 100; /* -> drawer */
	  display:none;
    }
    section[role="region"][data-position="right"] {
      position: absolute;
    }
    [data-position="right"].current {
	  display:block;
      animation: rightToCurrent 0.4s forwards;
      -webkit-animation: rightToCurrent 0.4s forwards;
    }
    [data-position="right"].right {
      animation: currentToRight 0.4s forwards;
      -webkit-animation: currentToRight 0.4s forwards;
    }
    [data-position="current"].left {
      animation: currentToLeft 0.4s forwards;
      -webkit-animation: currentToLeft 0.4s forwards;
    }
    [data-position="current"].current {
      animation: leftToCurrent 0.4s forwards;
      -webkit-animation: leftToCurrent 0.4s forwards;
    }
    [data-position="back"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0;
      /* z-index: 100; -> drawer */
    }
    [data-position="back"].fade-in {
      z-index: 120;
      animation: fadeIn 0.2s forwards;
      -webkit-animation: fadeIn 0.2s forwards;
    }
    [data-position="back"].fade-out {
      animation: fadeOut 0.2s forwards;
      -webkit-animation: fadeOut 0.2s forwards;
    }

    [data-position="edit-mode"] {
      position: absolute;
      top: -5rem;
      left: 0;
      right: 0;
      bottom: -7rem;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease;
    }
    [data-position="edit-mode"].edit {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 120;
      opacity: 1;
    }

    /* Active state */
    .active {
      background-color: #b2f2ff;
      color: #fff;
    }

    /* Headers */
    #headers .content {
      margin-top: -1.5rem;
    }
    #headers section[role="region"] {
      margin-bottom: 1.5rem;
    }
    #headers section[role="region"]:not(#drawer) {
      display: inline;
    }
    #headers article header:first-child {
      margin-top: 1.5rem;
    }
    #headers section[role="region"] header h2 {
      margin: 0 0 1.5rem 0;
    }

    /* Lists */
    /* to avoid double background effect on press */
    [data-type=list] li>a:active {
      background-color: transparent;
    }

    /* Drawer */
    section[role="region"]:not(#drawer) {
      transition: none;
      left: 0;
      z-index: 0;
      padding-left: 0;
    }
    section[data-type="sidebar"] + section[role="region"] > header:first-child > button,
    section[data-type="sidebar"] + section[role="region"] > header:first-child > a {
      background-position: 3.5rem center;
    }

    /* Switches */
    #switches div:last-child label:last-child {
      margin-left: 2rem;
    }
    #switches div:last-child {
      margin-left: 2rem;
    }

    /* Scrolling */
    nav[data-type="scrollbar"] {
      padding-top: 1rem;
    }
    nav[data-type="scrollbar"] p {
      opacity: 1;
    }

    /* Seek bars */
    div[role="slider"] > label.icon {
      background: no-repeat right top;
      background-size: 3rem auto;
    }

    /* Tabs */
    #tabs .content {
      padding: 0;
    }
    #tabs .content .content {
      padding: 1.5rem 3rem;
    }

/* Filters */
#markettab {
	background-color:rgba(255,255,255,.9);
	left:0;
	position:absolute;
	top:5rem;
	width:100%;
	z-index:10;
}

[role="tablist"][data-type="filter"] {
	background-color:rgba(255,255,255,.1);
}

.bb-tablist[data-type="filter"] {
	border-bottom:none;
}

#marketlist {
	padding-top:4rem;
}

    /* Device rotation */
    .landscape section[role="region"]#drawer > header:first-child {
      /* Whatever needs to be changed on landscape */
    }

ul.calendar {
	margin:0 auto 0 auto;
	max-width:27rem;
}

ul.calendar li {
	background:#fde4d0;
	border:1px solid #f97c17;
	color:#000000;
	float:left;
	height:4rem;
	line-height:2rem;
	padding:0.5rem 0.3rem 0.25rem 0.3rem;
	text-align:center;
	width:3rem;
}

ul.calendar li.gray {
	background:#ffffff;
	color:#d0d0d0;
}

ul.calendar li.empty {
	border:1px solid transparent;
}

ul.calendar li div {
	color:#f97c17;
	font-size:0.8em;
}

ul.calendar li.gray div {
	color:#fde4d0;
}

section[data-type="sidebar"] > nav > h2 {
  text-indent: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}


section[data-type="sidebar"] > nav > ul > li > a {
  line-height: 3rem;
  text-indent: 0;
  padding-left: 1.6rem;
  padding-right: 0.8rem;
  white-space:normal;
}

.icon-direction:before {
  border: 0.2rem solid black;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  padding: 0.3rem;
}

.bb-tablist[data-type="filter"] > li > a[aria-selected="true"] > .icon-direction:before {
  border-color:#0AC;
}

.ios section[role="region"] > header:first-child {
	padding-top:2rem;
}

.ios section[data-type="sidebar"] > header {
	padding-top:2rem;
}

.ios #markettab {
	top:7rem;
}

.ios #marketlist {
	padding-top:6rem;
}
