    #index {
      height: 100%;
    }
    [data-position="right"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      z-index: 15;
      z-index: 100; /* -> drawer */
	  display:none;
    }
    section[role="region"][data-position="right"] {
      position: absolute;
    }
    [data-position="right"].current {
	  display:block;
      animation: rightToCurrent 0.4s forwards;
      -webkit-animation: rightToCurrent 0.4s forwards;
    }
    [data-position="right"].right {
      animation: currentToRight 0.4s forwards;
      -webkit-animation: currentToRight 0.4s forwards;
    }
    [data-position="current"].left {
      animation: currentToLeft 0.4s forwards;
      -webkit-animation: currentToLeft 0.4s forwards;
    }
    [data-position="current"].current {
      animation: leftToCurrent 0.4s forwards;
      -webkit-animation: leftToCurrent 0.4s forwards;
    }
    [data-position="back"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0;
      /* z-index: 100; -> drawer */
    }
    [data-position="back"].fade-in {
      z-index: 120;
      animation: fadeIn 0.2s forwards;
      -webkit-animation: fadeIn 0.2s forwards;
    }
    [data-position="back"].fade-out {
      animation: fadeOut 0.2s forwards;
      -webkit-animation: fadeOut 0.2s forwards;
    }

    [data-position="edit-mode"] {
      position: absolute;
      top: -5rem;
      left: 0;
      right: 0;
      bottom: -7rem;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease;
    }
    [data-position="edit-mode"].edit {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 120;
      opacity: 1;
    }

    /* Active state */
    .active {
      background-color: #b2f2ff;
      color: #fff;
    }

    /* Headers */
    #headers .content {
      margin-top: -1.5rem;
    }
    #headers section[role="region"] {
      margin-bottom: 1.5rem;
    }
    #headers section[role="region"]:not(#drawer) {
      display: inline;
    }
    #headers article header:first-child {
      margin-top: 1.5rem;
    }
    #headers section[role="region"] header h2 {
      margin: 0 0 1.5rem 0;
    }
	section[role="region"] > header {
    	z-index: 1001;
	}

	/* Lists */
    /* to avoid double background effect on press */
    [data-type=list] li>a:active {
      background-color: transparent;
    }

	/* to avoid double scrolling bar on long pages */
	[data-type="list"] ul {
		overflow: hidden;
	}

	/* Drawer */
    section[role="region"]:not(#drawer) {
      transition: none;
      left: 0;
      z-index: 0;
      padding-left: 0;
    }
    section[data-type="sidebar"] + section[role="region"] > header:first-child > button,
    section[data-type="sidebar"] + section[role="region"] > header:first-child > a {
      background-position: 3.5rem center;
    }

    /* Switches */
    #switches div:last-child label:last-child {
      margin-left: 2rem;
    }
    #switches div:last-child {
      margin-left: 2rem;
    }

    /* Scrolling */
    nav[data-type="scrollbar"] {
      padding-top: 1rem;
    }
    nav[data-type="scrollbar"] p {
      opacity: 1;
    }

    /* Seek bars */
    div[role="slider"] > label.icon {
      background: no-repeat right top;
      background-size: 3rem auto;
    }

    /* Tabs */
    #tabs .content {
      padding: 0;
    }
    #tabs .content .content {
      padding: 1.5rem 3rem;
    }

/* Filters */
#markettab {
	background-color:rgba(255,255,255,.9);
	left:0;
	position:absolute;
	top:5rem;
	width:100%;
	z-index:1001;
}

[role="tablist"][data-type="filter"] {
	background-color:rgba(255,255,255,.1);
}

.bb-tablist[data-type="filter"] {
	border-bottom:none;
}

#marketlist {
	padding-top:4rem;
	position:relative;
}

    /* Device rotation */
    .landscape section[role="region"]#drawer > header:first-child {
      /* Whatever needs to be changed on landscape */
    }

ul.calendar {
	margin:0 auto 0 auto;
	max-width:27rem;
}

ul.calendar li {
	background:#fde4d0;
	border:1px solid #f97c17;
	color:#000000;
	float:left;
	height:4rem;
	line-height:2rem;
	padding:0.5rem 0.3rem 0.25rem 0.3rem;
	text-align:center;
	width:3rem;
}

ul.calendar li.gray {
	background:#ffffff;
	color:#d0d0d0;
}

ul.calendar li.empty {
	border:1px solid transparent;
}

ul.calendar li div {
	color:#f97c17;
	font-size:0.8em;
}

ul.calendar li.gray div {
	color:#fde4d0;
}

div.adventcalendar {
	padding:0 2.5rem 0 0;
	margin:0;

	position:absolute;
	left:-1.5rem;
	top:2.5rem;
	width:100%;
	height:80%;
	background:rgba(255,255,0,.5);
	border:1px solid #ffffff;
}

div.advent {
	border:1px solid #ffffff;
	color:#ffffff;
	float:left;
	height:30%;
	width:11%;
}

section[data-type="sidebar"] > nav > h2 {
  text-indent: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}


section[data-type="sidebar"] > nav > ul > li > a {
  line-height: 3rem;
  text-indent: 0;
  padding-left: 1.6rem;
  padding-right: 0.8rem;
  white-space:normal;
}

.icon-direction:before {
  border: 0.2rem solid black;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  padding: 0.3rem;
}

.bb-tablist[data-type="filter"] > li > a[aria-selected="true"] > .icon-direction:before {
  border-color:#0AC;
}

.ios section[role="region"] > header:first-child {
	padding-top:2rem;
   	z-index: 1001;
}

.ios section[data-type="sidebar"] > header {
	padding-top:2rem;
}

.ios #markettab {
	top:7rem;
}

.ios #marketlist {
	padding-top:6rem;
}

[data-type="list"] aside span[data-type="img"], [data-type="list"] aside img {
	border-radius: 1rem;
	border: 1px solid #ccc;
	background-image: url(../art/default/128.jpg);
}

section#onemarket article.content div:first-child img {
	width: 100%;
	background: url(../art/default/1200.jpg) center center / cover;
}

div#sidebarTop {
	font-size: 1.8rem;
	text-align: center;
}

div#sidebarTop .title {
	padding: 1em 0 .5em 0;
	font-style: italic;
	font-weight: 300;
	font-size: 3.3rem;
	color: #fff;
}
div#sidebarTop .title em {
	font-style: normal;
	font-weight: 400;
	font-size: 2.2rem;
}

div#sidebarTop .logo {
	display: inline-block;
	width: 5em;
	height: 5em;
	border-radius: 50%;
	border:2px solid #444;
	background: white;
	padding: .75em;
}
div#sidebarTop .logo img {
	height: 5em;
	width: 5em;
	border-radius: 50%;
}

div#sidebarMiddle {
	background: #fff;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	font-size: 1.8rem;
	font-weight: 300;
	margin: -3.25em 0 0 0;
	padding: 3.25em 0 1em 0;
}

div#sidebarMiddle h2 {
	margin: 0;
	padding: 1em .5em .5em .5em;
	font-weight: 400;
}
div#sidebarMiddle div {
	margin: 0;
	padding: 0 1em .5em 1em;
	font-size: 1.6rem;
}
div#sidebarMiddle div.intro {
	margin: 0 2em;
	padding: 1em 0;
	border-bottom: 2px solid #444;
	text-align: center;
}
div#sidebarMiddle a {
	color: #000;
	text-decoration: none;
}

.leaflet-bar {
	background:#fde4d0;
	border-right:1px solid #f97c17;
	border-bottom:1px solid #f97c17;
	border-radius: 0 !important;
	box-shadow: none !important;
	padding: 1rem;
}

.leaflet-left .leaflet-control {
	margin-left: 0 !important;
}

.leaflet-top .leaflet-control {
	margin-top: 0 !important;
}

.leaflet-bar a {
	border:1px solid #f97c17 !important;
}

.leaflet-bar a:last-child {
	border-top: none !important;
}
